@charset "utf-8";
/* CSS Document */
.des{
	width:165px;
	word-wrap:break-word;
	overflow:hidden;
		max-height:20px;
			min-height:20px;

	}
.g-plusone{
	width:50px;
	}
.module{
	margin-left:5px;
	margin-right:5px;
	
			word-wrap:break-word;
			max-height:250px;
			min-height:250px;
			-webkit-box-shadow: 0px 7px 0px rgba(105, 105, 105, 0.75);
-moz-box-shadow: 0px 7px 0px rgba(105, 105, 105, 0.75);
	}
.module_user{
	max-height:150px;
			min-height:50px;
			margin-left:5px;
	margin-right:5px;
	}
.ribbon{
	min-height:50px;
	background:#e4e7eb;
	line-height:50px;
	vertical-align:middle;
	
	}
.module h4{
		max-height:2px;
			min-height:20px;
			overflow:hidden;	
	}
	.module_big{
	margin-left:10px;
	margin-right:10px;

	padding-left:10px;
	padding-top:10px;
	}
	.module_big p{
		width:auto;
		word-wrap:break-word;
	text-overflow: ellipsis;
		}
.download{

	}
	
html,
body {
  height: 100%;
  background-color:#e4e7eb;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
  z-index:0;
}
#footer {
  background-color: #eee;
}
.footer_text{
	margin: 20px 0;
	color:#333;
	z-index:0;
	}
i{
	color:#666;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}


#page-wrap {
	width: 300px;
	margin: 30px auto;
	position: relative;
}
#chat-wrap {
	border: 1px solid #eee;
	
}
#chat-area {
	height: 300px;
	overflow: auto;
	border: 1px solid #666;
	padding: 20px;
	background: white;
}
#chat-area span {
	color: white;
	background: #333;
	padding: 4px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 8px;
	margin: 0 5px 0 0;
}
#chat-area p {
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
}
#name-area {
	position: absolute;
	top: 12px;
	right: 0;
	color: white;
	font: bold 12px "Lucida Grande", Sans-Serif;
	text-align: right;
}
#name-area span {
	color: #fa9f00;
}
#send-message-area p {
	float: left;
	color: black;
	padding-top: 27px;
	font-size: 14px;
}
#sendie {
	border: 3px solid #999;
	width: 300px;
	font: 12px "Lucida Grande", Sans-Serif;
	
}
